<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://unpkg.com/vue@2"></script>
    <link rel="stylesheet" href="/static/style.css" />
    <style>
      body {
        background-color: orange;
      }
    </style>
  </head>
  <body>
    <h1>Hello Pagalu!</h1>
    <img src="https://placecats.com/300/200" alt="cat pic" />

    <script>
      console.log('Hello Vidu');
    </script>
  </body>
</html>
