<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Flask SPA</title>
    <style>
      .page {
        display: none;
      }

      .page.active {
        display: block;
      }
    </style>
  </head>
  <body>
    <nav>
      <a href="#home">Home</a>
      <a href="#about">About</a>
      <a href="#contact">Contact</a>
      <a href="#services">Services</a>
    </nav>

    <div class="page" id="cool-home"></div>
    <div class="page" id="cool-about"></div>
    <div class="page" id="cool-contact"></div>
    <div class="page" id="cool-services"></div>

    <script>
      function showActivePage() {
        // step 1: what page to display
        let activePage = location.hash.slice(1);
        activePage = activePage || 'home';

        // step 2: hide last active page
        let $lastActivePageDiv = document.querySelector('.page.active');
        if ($lastActivePageDiv != null) {
          $lastActivePageDiv.classList.remove('active');
        }

        // step 3: show active page
        let $activePageDiv = document.querySelector(`#cool-${activePage}`);
        $activePageDiv.classList.add('active');

        if ($activePageDiv.innerHTML === '') {
          // step 4: fetch content from api
          fetch(`/api/${activePage}`)
            .then(response => response.text())
            .then(html => {
              // step 5: append content to active div
              $activePageDiv.innerHTML = html;
            });
        }
      }

      window.addEventListener('hashchange', () => {
        showActivePage();
      });

      showActivePage();
    </script>
  </body>
</html>
